.post {
  width: 95%;
  min-height: 100px;
  box-shadow: -1px 5px 5px 5px rgba(241, 241, 241, 0.75);
  margin: 30px 0;
  border-radius: 10px;
  padding: 10px 20px;
  overflow: hidden;
}

.post-header {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.post-header img {
  width: 40px;
  height: 40px;

  object-fit: cover;
  margin-right: 20px;
  border-radius: 50%;
}
.post-text {
  min-height: 50px;
  padding: 20px 0;
}
.post-delete {
  cursor: pointer;
  font-weight: 600;
  color: lightgray;
  font-size: 25px;
}
.post-image img {
  width: 100%;
  height: 400px;
  object-fit: contain;
}
.post-delete:hover {
  color: grey;
}
.post-actions {
  width: 100%;
  height: 25px;
  border-top: 1px solid #d3d3d37a;
  border-bottom: 1px solid #d3d3d37a;
  display: flex;
  padding: 5px;
}
.post-actions div {
  width: 100%;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.2s all ease-in-out;
  border-radius: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-actions div:hover {
  background-color: #d3d3d37a;
}
.post-likes {
  font-size: 11px;
  margin-bottom: 10px;
  color: gray;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.comment-box {
  height: 50px;
  width: 100%;
}
.comment {
  min-height: 50px;
  font-size: 14px;
  background: #f4f4f4;
  border-radius: 10px;
  padding: 2px 10px;
  margin: 5px 0;
  cursor: pointer;
}
.comment:hover {
  background-color: #d9d9d9;
}
.comment-by {
  display: flex;
  align-items: center;
  margin: 2px 0;
  justify-content: space-between;
}
.user-img {
  display: flex;
  justify-content: center;
  align-content: center;
}
.user-img img {
  width: 20px;
  height: 20px;

  border-radius: 50%;
  object-fit: cover;
}
.user-name--comment {
  font-size: 12px;
  width: 100px;
  font-weight: 600;
}
.delete-comment {
  background-color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: 600;
}
.comment-text {
  font-size: 12px;
  min-height: 20px;
}
.comment-modal {
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(170, 170, 170, 0.23);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-comments {
  width: 50%;
  background: white;
  min-height: 80%;
  overflow-y: scroll;
  padding: 10px;
}
.commented-people {
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}
.commented-people:hover {
  transform: scale(0.9);
}
.comment-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.add-comment {
  width: 100%;
}
.add-comment input {
  width: 100%;
  border: none;
  padding: 0 10px;
  font-size: 14px;
}
.add-cmnt-btn button {
  background: #3b6cff;
  color: white;
  border: none;
  font-size: 12px;
  padding: 5px 10px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
}
.close-box {
  display: flex;
  justify-content: end;
}
.close-box p {
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
